@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@utility no-scrollbar {
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] .rdp-root {
    --rdp-range_middle-background-color: #404040;

    .rdp-selected .rdp-day_button {
        border-color: #1d4ed8;
    }

    .rdp-range_start .rdp-day_button {
        background-color: #1d4ed8;
    }

    .rdp-range_end .rdp-day_button {
        background-color: #1d4ed8;
    }
}
